html {
    @apply
    bg-sky-200
    w-full
}

.aa {
    @apply
    flex
    flex-col
    md:w-[400px]
    w-[300px]
    rounded-lg
    p-[20px]
    align-middle
    bg-white
    m-auto
    mt-[100px]
    mb-[90px]
}

.square {
    @apply
    w-auto
}

img {
    @apply
    rounded-lg
}

.first {
    @apply
    mt-[20px]
    font-bold
    mr-[5px]
    ml-[5px]
    text-[23px]
    md:text-[30px]
    text-center
}

.second {
    @apply
    mt-[10px]
    text-[16.5px]
    md:text-[23px]
    text-center
}